<div ng-init="init()"></div>

<div class="text-center">
<img src="/assets/img/umai.png">
<p>おいしい店だけわかればいい。<p>
</div>

<div>
  <div class="place-column" ng-repeat="place in places">
    <div ng-click="modal(place)" data-toggle="modal" data-target="#sealModal">
      <span class="glyphicon glyphicon-cutlery"></span> {{place.Name}}
    </div>
  </div>
</div>

<div class="text-center" style="padding-top:20px;">
  <button class="btn btn-default" ng-click="searchPlaceByGeo()">
    現在地から検索
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="sealModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Seal ?</h4>
      </div>
      <div class="modal-body">
      <div class="text-center">
        <div id="ymap"></div>
        {{currentPlace.Name}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="postSeal()">Mnn.. O-i-C!</button>
      </div>
    </div>
  </div>
</div>
